@import url(variables.css);
@import url(fonts.css);

body {
    background-color: #F3E5D8;
    font-family: "outfit";
  }
  article {
    background-color: white; 
    padding:20px;

    border-radius: 18px;
  }

  article img {
    border-radius: 10px;
    width: 100%;
  }

  h2, h3 {
    font-family: "young";
  }

  .preparation {
    border-radius: 10px;
    padding: 20px;
    background-color: #FFF7FC;
  }

  .preparation ul {
    padding-left: 40px;
  }

  .preparation li {
    line-height: 32px;
  }

  .preparation li::before(":"){
    font-weight: bold;
  }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }