:root{
    --color-crema:#F3E5D8;/*fondo*/
    --color-rosa:#FFF7FC;/*fondo preparación*/
    --color-lila:#7A2949;/*header preparación*/
    --color-marron:#834A36;/*headings y valores*/
    --color-negro:#373332;/*negro*/
    --color-gris:#5F5659;/*texto y bold*/
}